---
interface Props {
  title: string;
  pubDate?: string;
  isArchived?: boolean;

  maxChars?: number;

  isAd?: boolean;
  outerLink?: string;
}

import Flex from '@components/design/flex/Flex.astro';
import Texto from '@components/design/texto/Texto.astro';

function crearSlug(title: string) {
  return title
    .toLowerCase()
    .replace(/\s/g, '-') // Reemplaza espacios por guiones
    .replace(/á/g, 'a') // Reemplaza caracteres con tilde
    .replace(/é/g, 'e')
    .replace(/í/g, 'i')
    .replace(/ó/g, 'o')
    .replace(/ú/g, 'u');
}

const slug = crearSlug(Astro.props.title);

let link = `/article/${slug}`;
const lang = Astro.currentLocale;

if (lang === 'en') link = `/${lang}/article/${slug}`;

if (Astro.props.outerLink) link = Astro.props.outerLink;
---

<li>
  <a
    class={`blog-article-anchor flex gap-4 hover:bg-zinc-200 dark:hover:bg-zinc-800 py-4 px-2 rounded-md max-w-fit cursor-pointer
    ${Astro.props.isAd ? 'bg-zinc-200/35 dark:bg-zinc-800/35' : ''}
    ${Astro.props.isArchived ? 'bg-zinc-200/15 dark:bg-zinc-800/15' : ''}
    `}
    href={link}
    data-article-is-ad={Astro.props.isAd ? 'true' : 'false'}
    data-article-is-archived={Astro.props.isArchived ? 'true' : 'false'}
  >
    <Flex as="section" gap={4} class={`max-w-full`}>
      <Texto
        as="h3"
        truncate={1}
        class="text-xl font-bold"
        title={Astro.props.title}
        width={60}
      >
        {Astro.props.title}
      </Texto>
      <Texto
        as="p"
        truncate={2}
        title={Astro.props.pubDate}
        width={60}
        class="text-sm text-zinc-400"
      >
        {Astro.props.pubDate}
      </Texto>
    </Flex>
  </a>
</li>
