---
interface Props {
  title: string;
  description: string;

  maxChars?: number;

  lang?: string;
}

import Flex from '@components/design/flex/Flex.astro';
import Texto from '@components/design/texto/Texto.astro';
import IconJS from '@components/icons/IconJS.astro';

const maxWidth = Astro.props.maxChars
  ? `max-w-[${Astro.props.maxChars}ch]`
  : 'max-w-[60ch]';

const slug = Astro.props.title.toLowerCase().replace(/\s/g, '-');

const link = `${Astro.props.lang ?? ''}/blog/article/${slug}`;
---

<li>
  <a
    class={`flex gap-4 hover:bg-zinc-800 py-4 px-2 rounded-md max-w-fit cursor-pointer`}
    href={link}
  >
    <IconJS class="w-[48px] sm:min-w-[84px] sm:min-h-[84px]" />
    <Flex as="section" gap={4} class={`${maxWidth}`}>
      <Texto
        as="h3"
        truncate={1}
        class="text-xl font-bold"
        title={Astro.props.title}
        width={60}
      >
        {Astro.props.title}
      </Texto>
      <Texto as="p" truncate={2} title={Astro.props.description} width={60}>
        {Astro.props.description}
      </Texto>
    </Flex>
  </a>
</li>
