---
interface Props {
  title: string;
  description: string;

  icon: string;
  iconalt: string;

  maxChars?: number;

  lang?: string;
  isAd?: boolean;
  outerLink?: string;
}

import Flex from '@components/design/flex/Flex.astro';
import Texto from '@components/design/texto/Texto.astro';

const maxWidth = Astro.props.maxChars
  ? `max-w-[${Astro.props.maxChars}ch]`
  : 'max-w-[60ch]';

function crearSlug(title: string) {
  return title
    .toLowerCase()
    .replace(/\s/g, '-') // Reemplaza espacios por guiones
    .replace(/á/g, 'a') // Reemplaza caracteres con tilde
    .replace(/é/g, 'e')
    .replace(/í/g, 'i')
    .replace(/ó/g, 'o')
    .replace(/ú/g, 'u');
}

const slug = crearSlug(Astro.props.title);

let link = `/blog/article/${slug}`;
if (Astro.props.lang) link = `/${Astro.props.lang}/blog/article/${slug}`;

if (Astro.props.outerLink) link = Astro.props.outerLink;
---

<li>
  <a
    class={`blog-article-anchor flex gap-4 hover:bg-zinc-800 py-4 px-2 rounded-md max-w-fit cursor-pointer
    ${Astro.props.isAd ? 'bg-zinc-800/35' : ''}
    `}
    href={link}
    data-article-icon={Astro.props.icon}
    data-article-icon-alt={Astro.props.iconalt}
    data-article-is-ad={Astro.props.isAd ? 'true' : 'false'}
  >
    <Flex as="section" gap={4} class={`${maxWidth}`}>
      <Texto
        as="h3"
        truncate={1}
        class="text-xl font-bold"
        title={Astro.props.title}
        width={60}
      >
        {Astro.props.title}
      </Texto>
      <Texto as="p" truncate={2} title={Astro.props.description} width={60}>
        {Astro.props.description}
      </Texto>
    </Flex>
  </a>
</li>
