---
interface Props {
  title: string;
  description: string;

  icon: string;
  iconalt: string;

  maxChars?: number;

  lang?: string;
}

import Flex from '@components/design/flex/Flex.astro';
import Texto from '@components/design/texto/Texto.astro';

const maxWidth = Astro.props.maxChars
  ? `max-w-[${Astro.props.maxChars}ch]`
  : 'max-w-[60ch]';

const slug = Astro.props.title.toLowerCase().replace(/\s/g, '-');

let link = `/blog/article/${slug}`;
if (Astro.props.lang) link = `/${Astro.props.lang}/blog/article/${slug}`;
---

<li>
  <a
    class={`blog-article-anchor flex gap-4 hover:bg-zinc-800 py-4 px-2 rounded-md max-w-fit cursor-pointer`}
    href={link}
    data-article-icon={Astro.props.icon}
    data-article-icon-alt={Astro.props.iconalt}
  >
    <Flex as="section" gap={4} class={`${maxWidth}`}>
      <Texto
        as="h3"
        truncate={1}
        class="text-xl font-bold"
        title={Astro.props.title}
        width={60}
      >
        {Astro.props.title}
      </Texto>
      <Texto as="p" truncate={2} title={Astro.props.description} width={60}>
        {Astro.props.description}
      </Texto>
    </Flex>
  </a>
</li>

<script>
  document.addEventListener('astro:page-load', () => {
    const span = document.querySelectorAll(`.blog-article-anchor`);
    for (const s of span) {
      s.innerHTML = (s.getAttribute('data-article-icon') ?? '') + s.innerHTML;
      const firstEl = s.firstElementChild;
      if (firstEl) {
        firstEl.classList.add('w-[48px]', 'sm:min-w-[84px]', 'sm:min-h-[84px]');
        firstEl.setAttribute(
          'aria-label',
          s.getAttribute('data-article-icon-alt') ?? ''
        );
      }
    }
  });
</script>
