---
interface Props {
  title: string;
  pubDate?: string;
  isArchived?: boolean;

  maxChars?: number;

  lang?: string;
  isAd?: boolean;
  outerLink?: string;
}

import Flex from '@components/design/flex/Flex.astro';
import Texto from '@components/design/texto/Texto.astro';

function crearSlug(title: string) {
  return title
    .toLowerCase()
    .replace(/\s/g, '-') // Reemplaza espacios por guiones
    .replace(/á/g, 'a') // Reemplaza caracteres con tilde
    .replace(/é/g, 'e')
    .replace(/í/g, 'i')
    .replace(/ó/g, 'o')
    .replace(/ú/g, 'u');
}

const slug = crearSlug(Astro.props.title);

let link = `/article/${slug}`;
if (Astro.props.lang) link = `/${Astro.props.lang}/article/${slug}`;

if (Astro.props.outerLink) link = Astro.props.outerLink;
---

<!-- 
  <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-archive"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" /><path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10" /><path d="M10 12l4 0" /></svg>
 -->
<li>
  <a
    class={`blog-article-anchor flex gap-4 hover:bg-zinc-200 dark:hover:bg-zinc-800 py-4 px-2 rounded-md max-w-fit cursor-pointer
    ${Astro.props.isAd ? 'bg-zinc-200/35 dark:bg-zinc-800/35' : ''}
    ${Astro.props.isArchived ? 'bg-zinc-200/15 dark:bg-zinc-800/15' : ''}
    `}
    href={link}
    data-article-is-ad={Astro.props.isAd ? 'true' : 'false'}
    data-article-is-archived={Astro.props.isArchived ? 'true' : 'false'}
  >
    <Flex as="section" gap={4} class={`max-w-full`}>
      <Texto
        as="h3"
        truncate={1}
        class="text-xl font-bold"
        title={Astro.props.title}
        width={60}
      >
        {Astro.props.title}
      </Texto>
      <Texto
        as="p"
        truncate={2}
        title={Astro.props.pubDate}
        width={60}
        class="text-sm text-zinc-400"
      >
        {Astro.props.pubDate}
      </Texto>
    </Flex>
  </a>
</li>
