---
import LayoutAside from '@layouts/LayoutAside.astro';

import BlogItemH from '@components/atom/BlogItemH.astro';
// import BlogItemV from '@components/atom/BlogItemV.astro';
import IconSearch from '@components/icons/IconSearch.astro';
import Flex from '@components/design/flex/Flex.astro';
import Texto from '@components/design/texto/Texto.astro';
import IconChevronRight from '@components/icons/IconChevronRight.astro';
import Aside from '@common/Aside.astro';
import type { GetStaticPaths, MarkdownInstance } from 'astro';
import IconChevronRightDouble from '@components/icons/IconChevronRightDouble.astro';

import { ARTICLES_PER_PAGE } from '@/articles';

import adsList from '@/private/ads/adList.json';

const { ads } = adsList;
const adsInEnglish = ads.filter((ad) => ad.lang === 'en');

export const getStaticPaths = (async ({ paginate }) => {
  const allArticles: MarkdownInstance<Record<string, any>>[] = await Astro.glob(
    '../../../pages/en/blog/article/*.md',
  );
  const filteredArticles = allArticles
    .filter((article) => article.frontmatter.status === 'published')
    .sort((a, b) => {
      const dateA = new Date(a.frontmatter.pubDate);
      const dateB = new Date(b.frontmatter.pubDate);

      return dateB.getTime() - dateA.getTime();
    });

  // Every four articles, one is an ad
  const real_amount_of_articles = (ARTICLES_PER_PAGE / 5) * 4;

  const total = Math.ceil(filteredArticles.length / real_amount_of_articles);

  // ADS
  function weightedRandomSelect(items: any[]) {
    // Calculate total weight
    const totalWeight = items.reduce((acc, item) => acc + item.priority, 0);

    // Generate a random number between 0 and the total weight
    const random = Math.random() * totalWeight;

    // Loop through the items and pick one based on weights
    let cumulativeWeight = 0;
    for (let i = 0; i < items.length; i++) {
      cumulativeWeight += items[i].priority;
      if (random <= cumulativeWeight) {
        return i;
      }
    }
  }

  let pageArticlesWithAds = filteredArticles;
  let idx = weightedRandomSelect(adsInEnglish) || 0;
  if (adsInEnglish.length > 0 && filteredArticles.length > 5) {
    pageArticlesWithAds = filteredArticles.reduce(
      (acc: any, article, index) => {
        if (index % 5 === 0 && index !== 0) {
          // Copy an article
          let theAd = filteredArticles.at(0);
          // Change the title, description, and icon
          if (theAd)
            theAd = {
              ...theAd,
              frontmatter: {
                ...theAd.frontmatter,
                title: adsInEnglish.at(idx)?.title,
                description: adsInEnglish.at(idx)?.description,
                icon: {
                  ...theAd.frontmatter.icon,
                  url: adsInEnglish.at(idx)?.icon.url,
                  alt: adsInEnglish.at(idx)?.icon.alt,
                },
                isAd: true,
                outerLink: adsInEnglish.at(idx)?.outerLink,
              },
            };

          acc.push(theAd);
        }

        acc.push(article);

        return acc;
      },
      [],
    );
  } else {
    // Copy an article
    let theAd = filteredArticles.at(0);
    // Change the title, description, and icon
    if (adsInEnglish.length > 0 && theAd) {
      theAd = {
        ...theAd,
        frontmatter: {
          ...theAd.frontmatter,
          title: adsInEnglish.at(idx)?.title,
          description: adsInEnglish.at(idx)?.description,
          icon: {
            ...theAd.frontmatter.icon,
            url: adsInEnglish.at(idx)?.icon.url,
            alt: adsInEnglish.at(idx)?.icon.alt,
          },
          isAd: true,
          outerLink: adsInEnglish.at(idx)?.outerLink,
        },
      };
      pageArticlesWithAds.push(theAd);
    }
  }

  return paginate(pageArticlesWithAds, {
    pageSize: total,
  });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<LayoutAside
  title="Kizendev"
  description="Kizendev es un Desarrollador de Software"
>
  <Flex as="main" class="lg:col-span-2" slot="main">
    <div
      class="hidden _flex items-center justify-between px-2 py-2 border border-zinc-700 rounded-md max-w-[634px]"
    >
      <input
        autocapitalize="none"
        autocomplete="off"
        autocorrect="off"
        class="inline-flex w-full h-full bg-transparent border-none focus:ring-0 focus:outline-none"
        placeholder="Buscar..."
        spellcheck="false"
        title="Buscar..."
        type="text"
        value=""
      />

      <span
        class="flex items-center justify-center w-8 h-8 border border-zinc-700 rounded-md"
        style="transform: scale(-1,1);"
        ><IconSearch class="h-4 w-4" />
      </span>
    </div>

    <ul class="space-y-2">
      {
        (page.data.length > 0 &&
          page.data.map((article) => {
            return (
              <BlogItemH
                title={article.frontmatter.title}
                description={article.frontmatter.description}
                icon={article.frontmatter.icon.url}
                iconalt={article.frontmatter.icon.alt}
                isAd={article.frontmatter.isAd || false}
                outerLink={article.frontmatter.outerLink}
              />
            );
          })) || (
          <Texto
            as="p"
            class="text-lg font-semibold mt-8 ml-2"
            title="No hay artículos..."
          />
        )
      }
    </ul>

    <div class="flex items-center justify-center space-x-2 mt-4">
      <a
        class="flex items-center justify-center w-8 h-8 border border-zinc-700 rounded-md aria-disabled:text-zinc-800 cursor-pointer aria-disabled:cursor-default"
        aria-disabled={page.currentPage === 1}
        aria-label="Ir a la primera página"
        href={page.url.prev ?? page.url.current}
        ><IconChevronRightDouble class="rotate-180 w-fit h-fit" /></a
      >

      <a
        class="flex items-center justify-center w-8 h-8 border border-zinc-700 rounded-md aria-disabled:text-zinc-800 cursor-pointer aria-disabled:cursor-default"
        aria-disabled={page.currentPage === 1}
        aria-label="Ir a la página anterior"
        href={page.url.prev ?? page.url.current}
        ><IconChevronRight class="rotate-180 w-fit h-fit" /></a
      >

      <span class="text-lg tracking-widest"
        >{page.currentPage} / {page.lastPage}</span
      >

      <a
        class="flex items-center justify-center w-8 h-8 border border-zinc-700 rounded-md aria-disabled:text-zinc-800 cursor-pointer aria-disabled:cursor-default"
        aria-disabled={page.currentPage === page.total}
        aria-label="Ir a la página siguiente"
        href={page.url.next ?? page.url.current}
        ><IconChevronRight class="w-fit h-fit" /></a
      >

      <a
        class="flex items-center justify-center w-8 h-8 border border-zinc-700 rounded-md aria-disabled:text-zinc-800 cursor-pointer aria-disabled:cursor-default"
        aria-disabled={page.currentPage === page.total}
        aria-label="Ir a la última página"
        href={page.currentPage < page.total
          ? `/page/${page.lastPage}`
          : page.url.current}><IconChevronRightDouble class="w-fit h-fit" /></a
      >
    </div>

    <article>
      <Texto
        as="h2"
        class="text-2xl font-semibold mt-8 ml-2 mb-4"
        title="Mis últimos videos"
      />

      <ul
        id="lastest-videos"
        class="grid grid-cols-2 gap-4 place-content-start"
        transition:name="latest-videos"
        transition:persist
      >
        <li class="flex flex-col">
          <span class="text-sm font-semibold ml-2"> No hay videos...</span>
        </li>
      </ul>
    </article>
  </Flex>

  <Aside slot="aside" />
</LayoutAside>
