---
import { education } from '@cv/cv.json';
import { education as enEducation } from '@cv/cv-en.json';

let currentLang = Astro.url.pathname.split('/')[1];
if (currentLang === 'cv') currentLang = 'ar';
---

<ul>
  {
    education.map(({ institution, area, startDate, endDate }, idx) => {
      const startYear = new Date(startDate).getFullYear();
      const endYear =
        endDate !== null ? new Date(endDate).getFullYear() : 'Actual';

      const years =
        startYear !== endYear ? `${startYear} - ${endYear}` : startYear;

      const inArea = currentLang === 'ar' ? area : enEducation[idx].area;
      return (
        <li>
          <article>
            <header>
              <h3>{institution}</h3>
              <time>{years}</time>
            </header>
            <footer>
              <p>{inArea}</p>
            </footer>
          </article>
        </li>
      );
    })
  }
</ul>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  h3 {
    font-weight: 600;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    font-size: 0.85rem;
    color: var(--color-zinc-400);
  }
</style>
