---
import BlogItemH from '@components/atom/BlogItemH.astro';
import Flex from '@components/design/flex/Flex.astro';
import Texto from '@components/design/texto/Texto.astro';
import Layout from '@layouts/Layout.astro';
import type { MarkdownInstance } from 'astro';

import { ARTICLES_PER_PAGE } from '@/articles';

export async function getStaticPaths() {
  const allArticles: MarkdownInstance<Record<string, any>>[] = await Astro.glob(
    '../../pages/article/*.md'
  );

  const uniqueTags = [
    ...new Set(allArticles.map((article) => article.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredArticles = allArticles
      .filter(
        (article) =>
          article.frontmatter.tags?.includes(tag) &&
          (article.frontmatter.status === 'published' ||
            article.frontmatter.isArchived)
      )
      .sort((a, b) => {
        const dateA = new Date(a.frontmatter.pubDate);
        const dateB = new Date(b.frontmatter.pubDate);

        return dateB.getTime() - dateA.getTime();
      });

    return {
      params: { tag },
      props: { articles: filteredArticles },
    };
  });
}

const { tag } = Astro.params;
const { articles } = Astro.props;

const filteredArticles = articles;
---

<Layout
  title={`Tag: ${tag}`}
  description={`Lista del tag ${tag} del blog de Kizen.`}
>
  <Flex as="section" class="lg:col-span-2">
    <Texto as="p" class="text-xl md:text-2xl font-bold text-zinc-100">
      Lista de posts con el tag <span class="italic font-semibold">{tag}</span>
    </Texto>
    <ul class="space-y-2">
      {
        (filteredArticles.length > 0 &&
          articles.map((article) => (
            <BlogItemH
              title={article.frontmatter.title}
              isAd={article.frontmatter.isAd || false}
              outerLink={article.frontmatter.outerLink}
              pubDate={article.frontmatter.pubDate}
              isArchived={article.frontmatter.isArchived || false}
            />
          ))) || (
          <Texto
            as="p"
            class="text-lg font-semibold mt-8 ml-2"
            title="No hay artículos..."
          />
        )
      }
    </ul>
  </Flex>
</Layout>
