---
import LayoutCV from '@layouts/LayoutCV.astro';

import About from '@cv/About.astro';
import Education from '@cv/Education.astro';
import Experience from '@cv/Experience.astro';
import Hero from '@cv/Hero.astro';
import KeyboardManager from '@cv/KeyboardManager.astro';
import Projects from '@cv/Projects.astro';
import Skills from '@cv/Skills.astro';

import Section from '@/components/cv/Section.astro';

const mb = 'margin-bottom: 48px';
const mb_ar = 'margin-bottom: 80px';
---

<LayoutCV title="Kevin S Zanzi CV">
  <main>
    <Section style={mb}><Hero /></Section>
    <Section style={mb} title="Sobre mí"><About /></Section>
    <Section style={mb} title="Experiencia"><Experience /></Section>
    <Section style={mb} title="Educación"><Education /></Section>
    <Section style={mb} title="Proyectos"><Projects /></Section>
    <Section style={mb} title="Habilidades"><Skills /></Section>
  </main>

  <KeyboardManager />
</LayoutCV>

<style>
  main {
    padding: 32px;
    margin: auto;
    width: 100%;
  }
</style>
