---
import LayoutAside from '@layouts/LayoutAside.astro';

import { basics } from '@cv/cv.json';

import BlogItemH from '@components/atom/BlogItemH.astro';
// import BlogItemV from '@components/atom/BlogItemV.astro';
import IconSearch from '@components/icons/IconSearch.astro';
import Flex from '@components/design/flex/Flex.astro';
import Texto from '@components/design/texto/Texto.astro';
import IconChevronRight from '@components/icons/IconChevronRight.astro';
import Aside from '@common/Aside.astro';
import type { MarkdownInstance } from 'astro';
import IconChevronRightDouble from '@components/icons/IconChevronRightDouble.astro';

import { ARTICLES_PER_PAGE } from '@/articles';

// import adsList from '@/private/ads/adList.json';

// const { ads } = adsList;
// const filetered_ads = ads.filter((ad: any) => ad.lang === 'es');

async function getData() {
  const allArticles: MarkdownInstance<Record<string, any>>[] = await Astro.glob(
    '../pages/blog/article/*.md',
  );
  const filteredArticles = allArticles
    .filter((article) => article.frontmatter.status === 'published')
    .sort(
      (a, b) =>
        new Date(b.frontmatter.pubDate).getTime() -
        new Date(a.frontmatter.pubDate).getTime(),
    );

  // Every four articles, one is an ad
  const real_amount_of_articles = (ARTICLES_PER_PAGE / 5) * 4;

  const total = Math.ceil(filteredArticles.length / real_amount_of_articles);

  const pageArticles = filteredArticles.slice(0, real_amount_of_articles);

  // ADS
  function weightedRandomSelect(items: any[]) {
    // Calculate total weight
    const totalWeight = items.reduce((acc, item) => acc + item.priority, 0);

    // Generate a random number between 0 and the total weight
    const random = Math.random() * totalWeight;

    // Loop through the items and pick one based on weights
    let cumulativeWeight = 0;
    for (let i = 0; i < items.length; i++) {
      cumulativeWeight += items[i].priority;
      if (random <= cumulativeWeight) {
        return i;
      }
    }
  }

  /*let pageArticlesWithAds = pageArticles;
  let idx = weightedRandomSelect(filetered_ads) || 0;
  if (pageArticles.length > 5) {
    pageArticlesWithAds = pageArticles.reduce((acc: any, article, index) => {
      if (index % 5 === 0 && index !== 0) {
        // Copy an article
        let theAd = pageArticles.at(0);
        // Change the title, description, and icon
        if (theAd)
          theAd = {
            ...theAd,
            frontmatter: {
              ...theAd.frontmatter,
              title: filetered_ads.at(idx)?.title,
              description: filetered_ads.at(idx)?.description,
              icon: {
                ...theAd.frontmatter.icon,
                url: filetered_ads.at(idx)?.icon.url,
                alt: filetered_ads.at(idx)?.icon.alt,
              },
              isAd: true,
              outerLink: filetered_ads.at(idx)?.outerLink,
            },
          };

        acc.push(theAd);
      }

      acc.push(article);

      return acc;
    }, []);
  } else {
    // Copy an article
    let theAd = pageArticles.at(0);
    // Change the title, description, and icon
    if (theAd) {
      theAd = {
        ...theAd,
        frontmatter: {
          ...theAd.frontmatter,
          title: filetered_ads.at(idx)?.title,
          description: filetered_ads.at(idx)?.description,
          icon: {
            ...theAd.frontmatter.icon,
            url: filetered_ads.at(idx)?.icon.url,
            alt: filetered_ads.at(idx)?.icon.alt,
          },
          isAd: true,
          outerLink: filetered_ads.at(idx)?.outerLink,
        },
      };
      pageArticlesWithAds.push(theAd);
    }
  }*/

  return {
    // firstPageArticles: pageArticlesWithAds,
    firstPageArticles: filteredArticles,
    totalPages: total,
    nextPage: total > 1 ? '/page/2' : '',
  };
}

const data = await getData();
---

<LayoutAside title="Kizendev" description={basics.summary}>
  <Flex as="main" class="lg:col-span-2" slot="main">
    <form
      id="search-form"
      class="hidden _flex items-center justify-between px-2 py-2 border border-zinc-700 rounded-md max-w-[634px]"
    >
      <input
        name="query"
        autocapitalize="none"
        autocomplete="off"
        autocorrect="off"
        class="inline-flex w-full h-full bg-transparent border-none focus:ring-0 focus:outline-none"
        placeholder="Buscar..."
        spellcheck="false"
        title="Buscar..."
        type="text"
      />

      <button
        type="submit"
        class="flex items-center justify-center w-8 h-8 border border-zinc-700 rounded-md"
        style="transform: scale(-1,1);"
        ><IconSearch class="h-4 w-4" />
      </button>
    </form>

    <ul class="space-y-2">
      {
        (data.firstPageArticles.length > 0 &&
          data.firstPageArticles.map((article) => {
            return (
              <BlogItemH
                title={article.frontmatter.title}
                description={article.frontmatter.description}
                icon={article.frontmatter.icon.url}
                iconalt={article.frontmatter.icon.alt}
                isAd={article.frontmatter.isAd || false}
                outerLink={article.frontmatter.outerLink}
              />
            );
          })) || (
          <Texto
            as="p"
            class="text-lg font-semibold mt-8 ml-2"
            title="No hay artículos..."
          />
        )
      }
    </ul>

    <div class="flex items-center justify-center space-x-2 mt-4">
      <button
        class="flex items-center justify-center w-8 h-8 border border-zinc-700 rounded-md aria-disabled:text-zinc-800 cursor-pointer aria-disabled:cursor-default"
        aria-disabled="true"
        aria-label="Ir a la primera página"
        ><IconChevronRightDouble class="rotate-180 w-fit h-fit" /></button
      >

      <button
        class="flex items-center justify-center w-8 h-8 border border-zinc-700 rounded-md aria-disabled:text-zinc-800 cursor-pointer aria-disabled:cursor-default"
        aria-disabled="true"
        aria-label="Ir a la página anterior"
        ><IconChevronRight class="rotate-180 w-fit h-fit" /></button
      >

      <span class="text-lg tracking-widest">1 / {data.totalPages}</span>

      <a
        class="flex items-center justify-center w-8 h-8 border border-zinc-700 rounded-md aria-disabled:text-zinc-800 cursor-pointer aria-disabled:cursor-default"
        aria-disabled={1 === data.totalPages}
        aria-label="Ir a la página siguiente"
        href={data.nextPage}><IconChevronRight class="w-fit h-fit" /></a
      >

      <a
        class="flex items-center justify-center w-8 h-8 border border-zinc-700 rounded-md aria-disabled:text-zinc-800 cursor-pointer aria-disabled:cursor-default"
        aria-disabled={1 === data.totalPages}
        aria-label="Ir a la última página"
        href={data.totalPages > 1 ? `/page/${data.totalPages}` : ''}
        ><IconChevronRightDouble class="w-fit h-fit" /></a
      >
    </div>

    <article>
      <Texto
        as="h2"
        class="text-2xl font-semibold mt-8 ml-2 mb-4"
        title="Mis últimos videos"
      />

      <ul
        id="lastest-videos"
        class="grid grid-cols-2 gap-4 place-content-start"
        transition:name="latest-videos"
        transition:persist
      >
        <li class="flex flex-col">
          <span class="text-sm font-semibold ml-2">No hay videos...</span>
        </li>
      </ul>
    </article>
  </Flex>

  <Aside slot="aside" />
</LayoutAside>
