---
import NavItem from '@components/atom/NavItem.astro';

let link = `/`;
if (Astro.currentLocale === 'en') link = `/en`;
const isEn = link === `/en`;
---

<section
  class="border-y-[1px] my-[16px] border-zinc-400 dark:border-zinc-600 md:mb-[32px]"
>
  <ul class="flex items-center gap-4 p-0 m-0 px-2">
    <NavItem title="New" href={link} />
    <!-- <NavItem title="Popular" href={link} currentNav={currentNav} /> -->
    <NavItem
      title={isEn ? 'About Kizzan' : 'Sobre Kizzan'}
      href={`https://cv.kizzan.dev${link}`}
      class="ml-auto"
      outlink={true}
    />
  </ul>
</section>
